<%= javascript_include_tag 'disable_buttons_question' %>
<style>

html, body{height:100%; margin:0;padding:0}


.yes-button{
  margin-right: 2%;

}
.container-main{
  margin-top: 20%;
}

.choice-row{
  margin-top: 5px;
}

</style>



<% begin %>

  <div class="container text-center container-main vertical-center">
    <h1 id="question" class=" col col-sm-12 col-xs-12 col-lg-12 col-md-12"><%= Rails.application.config.question_array[0].title %></h1>

    <div class="row choice-row">
      <div class="col col-sm-12 col-xs-12 col-lg-12 col-md-12">
    <%= link_to Rails.application.config.question_array[0].option1, question_yes_path(0), :class => "btn btn-lg btn-primary yes-button", :id => 'yes' %>
    <%= link_to Rails.application.config.question_array[0].option2, question_no_path(0), :class => "btn btn-lg btn-primary no-button", :id => 'no' %>
</div>
    </div>
  <% rescue => error%>
    <% puts error %>
    <% puts "^ ERROR" %>
  <% end %>
</div>


<%= link_to "Home", root_path %>
