<%= javascript_include_tag 'disable_buttons_question' %>

<style>

html, body{height:100%; margin:0;padding:0}


.yes-button{
  margin-right: 2%;

}
.container-main{
  margin-top: 5%;
}

.choice-row{
  margin-top: 5px;
}

.col{
  margin-top: 15px;
}

.btn-left{
  margin-right: 10px;
}

#question{
  font-size: 70px;
}
#question-desc{
  font-size: 40px;
}

.choice{
  font-size: 50px;
}

</style>


<% begin %>
<div class="container text-center container-main vertical-center">
<h1 id = "question"><%= Rails.application.config.array_of_tracks[0][:name] %></h1>
<h3 id = "question-desc">By: <%= Rails.application.config.array_of_tracks[0][:artist] %> (<%= @array_of_tracks[0][:duration] %>)</h3>

<div class="row choice-row text-center">
  <div class="col">
  <%= link_to "Next", swipe_next_path(0), :class => "btn btn-info btn-lg btn-left choice", :id => 'yes' %>
  <%= link_to "Preview Song", Rails.application.config.array_of_tracks[0][:url], :target => '_blank', :class => "btn btn-info btn-lg choice", :id => 'preview' %>
</div>
</div>
</div>

<% rescue %>
<% controller.redirect_to 'traffic_error' %>
<% end %>

<%= link_to "Home", root_path %>
